extends layout

block content
    
    .row.justify-content-center
        .col-sm-6
            legend New Pet
            form(action=`/pets/${pet._id}?_method=PUT`, method="POST")
                .form-group
                    label Name
                    input.form-control(name="name" value=pet.name)
                .form-group
                    label Category
                    input.form-control(name="category" value=pet.category)    
                .form-group
                    label ID
                    input.form-control(name="id" value=pet.id)    
                .form-group
                    label Price
                    input.form-control(name="price" value=pet.price)    
                .form-group
                    label Description
                    textarea.form-control(name="description")= pet.description
                button(type="submit").btn.btn-primary Save
            .text-right
                form(action=`/pets/${pet._id}?_method=DELETE`, method="POST")
                    button(type="submit").btn.btn-danger Remove
